USE [Labb1SQL]
GO
/****** Object:  Table [dbo].[Böcker]    Script Date: 2025-11-22 03:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Böcker](
	[ISBN13] [nvarchar](255) NOT NULL,
	[Titel] [nvarchar](255) NULL,
	[Språk] [nvarchar](255) NULL,
	[Pris] [decimal](10, 2) NULL,
	[Utgivningsdatum] [int] NULL,
	[FörfattareID] [int] NULL,
	[Genre] [nvarchar](255) NULL,
	[AntalSidor] [int] NULL,
	[FörlagID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Butiker]    Script Date: 2025-11-22 03:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butiker](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ButiksNamn] [nvarchar](255) NULL,
	[Adress] [nvarchar](255) NULL,
	[PostNummer] [int] NULL,
	[Ort] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Författare]    Script Date: 2025-11-22 03:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Författare](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Förnamn] [nvarchar](255) NULL,
	[Efternamn] [nvarchar](255) NULL,
	[FödelseDatum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Förlag]    Script Date: 2025-11-22 03:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Förlag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Namn] [nvarchar](255) NULL,
	[Adress] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kunder]    Script Date: 2025-11-22 03:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FörNamn] [nvarchar](255) NULL,
	[EfterNamn] [nvarchar](255) NULL,
	[Epost] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LagerSaldo]    Script Date: 2025-11-22 03:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LagerSaldo](
	[ButikID] [int] NOT NULL,
	[ISBN] [nvarchar](255) NOT NULL,
	[Antal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ButikID] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordrar]    Script Date: 2025-11-22 03:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordrar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KundID] [int] NULL,
	[OrderDatum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Böcker] ([ISBN13], [Titel], [Språk], [Pris], [Utgivningsdatum], [FörfattareID], [Genre], [AntalSidor], [FörlagID]) VALUES (N'9780000000001', N'Pippi Långstrump', N'Svenska', CAST(129.00 AS Decimal(10, 2)), 19450501, 1, N'Barnbok', 180, 1)
INSERT [dbo].[Böcker] ([ISBN13], [Titel], [Språk], [Pris], [Utgivningsdatum], [FörfattareID], [Genre], [AntalSidor], [FörlagID]) VALUES (N'9780000000002', N'Mio Min Mio', N'Svenska', CAST(149.00 AS Decimal(10, 2)), 19541101, 1, N'Barnbok', 200, 1)
INSERT [dbo].[Böcker] ([ISBN13], [Titel], [Språk], [Pris], [Utgivningsdatum], [FörfattareID], [Genre], [AntalSidor], [FörlagID]) VALUES (N'9780000000003', N'Harry Potter och De Vises Sten', N'Svenska', CAST(199.00 AS Decimal(10, 2)), 19970626, 2, N'Fantasy', 320, 2)
GO
SET IDENTITY_INSERT [dbo].[Butiker] ON 

INSERT [dbo].[Butiker] ([ID], [ButiksNamn], [Adress], [PostNummer], [Ort]) VALUES (1, N'City Bokhandel', N'Storgatan 12', 11122, N'Stockholm')
INSERT [dbo].[Butiker] ([ID], [ButiksNamn], [Adress], [PostNummer], [Ort]) VALUES (2, N'Haga Bokhandel', N'Haga Nygata 5', 41301, N'Göteborg')
INSERT [dbo].[Butiker] ([ID], [ButiksNamn], [Adress], [PostNummer], [Ort]) VALUES (3, N'Norrköping Bokcenter', N'Drottninggatan 3', 60224, N'Norrköping')
SET IDENTITY_INSERT [dbo].[Butiker] OFF
GO
SET IDENTITY_INSERT [dbo].[Författare] ON 

INSERT [dbo].[Författare] ([ID], [Förnamn], [Efternamn], [FödelseDatum]) VALUES (1, N'Astrid', N'Lindgren', 19071114)
INSERT [dbo].[Författare] ([ID], [Förnamn], [Efternamn], [FödelseDatum]) VALUES (2, N'J.K.', N'Rowling', 19650731)
INSERT [dbo].[Författare] ([ID], [Förnamn], [Efternamn], [FödelseDatum]) VALUES (3, N'Stephen', N'King', 19470830)
SET IDENTITY_INSERT [dbo].[Författare] OFF
GO
SET IDENTITY_INSERT [dbo].[Förlag] ON 

INSERT [dbo].[Förlag] ([ID], [Namn], [Adress]) VALUES (1, N'Rabén & Sjögren', N'Rådmansgatan 25')
INSERT [dbo].[Förlag] ([ID], [Namn], [Adress]) VALUES (2, N'Norstedts', N'Rålambsvägen 17')
INSERT [dbo].[Förlag] ([ID], [Namn], [Adress]) VALUES (3, N'Albert Bonniers Förlag', N'Sveavägen 56')
SET IDENTITY_INSERT [dbo].[Förlag] OFF
GO
SET IDENTITY_INSERT [dbo].[Kunder] ON 

INSERT [dbo].[Kunder] ([ID], [FörNamn], [EfterNamn], [Epost]) VALUES (1, N'Anna', N'Svensson', N'anna@boknissen.se')
INSERT [dbo].[Kunder] ([ID], [FörNamn], [EfterNamn], [Epost]) VALUES (2, N'Erik', N'Lukasc', N'erik@bookmaistro.se')
INSERT [dbo].[Kunder] ([ID], [FörNamn], [EfterNamn], [Epost]) VALUES (3, N'Maria', N'Danger', N'maria@academy.se')
SET IDENTITY_INSERT [dbo].[Kunder] OFF
GO
INSERT [dbo].[LagerSaldo] ([ButikID], [ISBN], [Antal]) VALUES (1, N'9780000000001', 12)
INSERT [dbo].[LagerSaldo] ([ButikID], [ISBN], [Antal]) VALUES (1, N'9780000000002', 10)
INSERT [dbo].[LagerSaldo] ([ButikID], [ISBN], [Antal]) VALUES (1, N'9780000000003', 13)
GO
SET IDENTITY_INSERT [dbo].[Ordrar] ON 

INSERT [dbo].[Ordrar] ([ID], [KundID], [OrderDatum]) VALUES (1, 1, 20240115)
INSERT [dbo].[Ordrar] ([ID], [KundID], [OrderDatum]) VALUES (2, 2, 20240201)
INSERT [dbo].[Ordrar] ([ID], [KundID], [OrderDatum]) VALUES (3, 3, 20240210)
SET IDENTITY_INSERT [dbo].[Ordrar] OFF
GO
ALTER TABLE [dbo].[Böcker]  WITH CHECK ADD FOREIGN KEY([FörfattareID])
REFERENCES [dbo].[Författare] ([ID])
GO
ALTER TABLE [dbo].[Böcker]  WITH CHECK ADD FOREIGN KEY([FörlagID])
REFERENCES [dbo].[Förlag] ([ID])
GO
ALTER TABLE [dbo].[LagerSaldo]  WITH CHECK ADD FOREIGN KEY([ButikID])
REFERENCES [dbo].[Butiker] ([ID])
GO
ALTER TABLE [dbo].[LagerSaldo]  WITH CHECK ADD FOREIGN KEY([ISBN])
REFERENCES [dbo].[Böcker] ([ISBN13])
GO
ALTER TABLE [dbo].[Ordrar]  WITH CHECK ADD FOREIGN KEY([KundID])
REFERENCES [dbo].[Kunder] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[FlyttaBok]    Script Date: 2025-11-22 03:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[FlyttaBok]
@FrånButikID int,
@TillbutikID int,
@ISBN nvarchar(255),
@Antal int = 1

as
begin
	begin tran

	if (select Antal from LagerSaldo
		where ButikID = @FrånButikID and ISBN = @ISBN) < @Antal
		begin
			rollback tran
			return
		end

		update LagerSaldo
		set Antal = Antal - @Antal
		where ButikID = @FrånButikID and ISBN = @ISBN

		update LagerSaldo 
		set Antal = Antal + @Antal
		where ButikID = @TillButikID and ISBN = @ISBN

		commit tran
	end
GO
